/* 弹窗蒙层样式 */
#browser-tip-mask {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 主弹窗样式 */
#browser-tip-mask > div {
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}

/* 左侧复制链接按钮样式 */
#browser-tip-copy {
    margin-right: 10px;
}

/* 操作教程按钮样式 */
#browser-tip-help {
    margin-left: 10px;
}

/* 如何操作提示框样式 */
#browser-tip-help-box {
    max-width: 90%;
    max-height: 90%;
    overflow: auto;
}
